/* universe */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common class */
.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 110px;
    display: block;
}
h1,.heading-1{
    font-size: 80px;
    font-weight: 600;
    color: red;
    margin: 0 0 20px;
    line-height: 1.2;
}
h2,.heading-2{
    font-size: 50px;
    font-weight: 400;
    color: #001F51;
    margin: 0 0 20px;
    line-height: 1.2;
    text-transform: capitalize; 
}
p{
    font-size: 18px;
    font-weight: 200;
    color: red;
    margin: 0 0 20px;
    line-height: 1.2;
}
/* navbar */
.nav-links li a{
    display: block;
    /* text-transform: uppercase */
    text-transform: capitalize;
    color: #D00000;
}
.cmn-btn{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 6px;
    background-color: aqua;
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 400;
    border: 1px solid;
}
.ban-btn{
    background-color: brown;
}
.cmn-btn:hover{
    background-color: red;
    color: blueviolet;
}
.cmn-gap{
    padding: 100px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    margin-left: auto;
}
.nav-links li{
    margin: 0 35px 0 0;
}
.nav-right{
    margin-left: auto;
}
.hamburgur{
   display: none;
}
/* banner */
.banner{
    /* compulsory */
    min-height: calc(100vh - 100px);
    background: url(../img/banner.png);
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;

}
/* banner */
/*figure img{
    border: 5px solid red;
} */
 /* about-child */
 .about-child{
    display: flex;
    flex-wrap: wrap;  /*responsive friendly */
    margin: 0 -15px;
 }
 .left,.right{
    width:50%;
    padding: 0 15px;
 }
 .right{
    display: flex;
    align-items: center;
 }
 .right p{
    color: black;
 }
 span{
    color: #D00000;
    font-style: italic;font-weight: 800;
 }
 .abt-btn{
    background-color: #001F51;
    color: #ffff;
 }
 /* about-chlid */

 /* card */
 .card-child{
    display:flex;flex-wrap:wrap;
    justify-content: space-between;
    margin: 0 0 20px;
 }
 .cmn-card{
    width: calc(33.33% - 30px);
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 15px 15px 15px;
 }
 .card p{
    color: #001F51;
    font-weight: 500;
 }
 .card-upper,.card-lower{
    text-align:center;
 }
 /* card */
 /* footer-child */
 .footer-child{
    display: flex;
    flex-wrap: wrap;
 }
 .cmn-footer{
    width: 33.33%;
    padding: 0 25px;
 }
 .footer-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .footer-links{
    display: flex;
 }
 .footer-links li{
    margin-right: 14px;
    border: 1px solid white;
    padding: 12px;border-radius: 50%;
 }
 ul li{
    margin-bottom: 25px;
 }
 .footer{
    background-color: black;
    padding: 75px 0;
 }
 li a{
    color: white;
 }
 .foot-head{
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 32px;
 }
 /* footer-child */
 
 /* responsive */
 @media (min-width: 320px) and (max-width: 575.98px){
    /* navbar */
    .hamburgur{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .logo{
        width: 90px;
    }
    .cmn-btn{
        padding: 8px 20px;
        font-size: 15px;
    }
    /* navbar */
    /* banner */
    h1{
        font-size: 40px;
        margin: 0 0 10px;
    }
    p{
        margin: 0 0 10px;
        font-size: 10px;
    }
    .banner-child{
        text-align: center;
    }
    /* banner */
    /* footer */
    .cmn-footer{
    width: 100%;
    padding: 15px;
 }
 /* footer */
 }

  @media (min-width: 576px) and (max-width: 797.98px){
    /* navbar */
    .hamburgur{
        display: block;
        display: none;
    }
    .nav-links{
        display: none;
    }
    .logo{
        width: 90px;
    }
    .cmn-btn{
        padding: 10px 40px;
        font-size: 25px;
    }
    /* navbar */
    /* banner */
    h1{
        font-size: 50px;
    }
    p{
        font-size: 10px;
    }
    /* banner */
    /* about */
    .left,.right{
        width: 100%;
        padding: 15px;
    }
    /* about */
    /* card */
    .cmn-card{
        width: 100%;
        margin: 0 0 20px;
    }
    /* card */
    /* footer */
   .cmn-footer{
    width: 100%;
    padding: 0 15px;
 }
  }
  
   @media (min-width: 768px) and (max-width: 991.98px){
    /* navbar */
    .hamburgur{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .logo{
        width: 110px;
    }
    .cmn-btn{
        padding: 10px 40px;
        font-size: 25px;
    }
    /* navbar */
    /* about */
    .left,.right{
        width: 100%;
        padding: 0 15px;
    }
    /* about */
    /* card */
    .cmn-card{
        width: 100%;
        margin: 0 0 20px;
    }
    /* card */
    /* footer */
   .cmn-footer{
    width: 50%;
    padding: 15px;
 }
 /* footer */
}

   @media (min-width: 992px) and (max-width: 1199.98px){}
   @media (min-width: 1200px) and (max-width: 1399.98px){}
   /* responsive */